Integrations/HeishaMonDomoticz.json
[{"id":"8eb76340.5d75e","type":"tab","label":"HeishaMon","disabled":false,"info":""},{"id":"38e33e6e.77e0c2","type":"mqtt in","z":"8eb76340.5d75e","name":"MQTT HeishaSensor","topic":"panasonic_heat_pump/sdc/#","qos":"2","datatype":"auto","broker":"7409323c.8bf6cc","x":200,"y":300,"wires":[["ad0fda5b.17feb"]]},{"id":"ad0fda5b.17feb","type":"function","z":"8eb76340.5d75e","name":"Map sensor to ID","func":"// if there's an entry in the global defined variable then \n// the value needs to be saved (send) to next function \nvar sensorsplit = msg.topic.split(\"/\");\nvar sensor = sensorsplit[sensorsplit.length-1];\n \nvar sensorvalue = msg.payload;\nfor (i = 0; i < context.global.heishamon.SensorMapping.length; i++) {\n    // when sensor is in the global settings \n    msg.sensor = sensor;\n    if(sensor == context.global.heishamon.SensorMapping[i][0]){\n//        node.warn(context.global.heishamon.SensorMapping[i]);\n        // add the home automation ID/name \n        msg.HAid = context.global.heishamon.SensorMapping[i][1];\n\n        // add type (if it exists):\n        if(context.global.heishamon.SensorMapping[i][2]){\n            msg.type = context.global.heishamon.SensorMapping[i][2];\n        }    \n        return msg;\n    }\n}\nreturn;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["d9155176.39734"]]},{"id":"ef431648.224748","type":"function","z":"8eb76340.5d75e","name":"global setup","func":"if (!context.global.heishamon) {\n  context.global.heishamon = {};\n}\n\n// write down the Home Automation applications used\n// Possible values: Domoticz, InfluxDB, openHAB, HomeAssistant\n// comma seperated and case sensitive\ncontext.global.heishamon.HAapplication = \"Domoticz, InfluxDB\";\n\n\n//This is the overview of sensors which has to be sent to the Home Automation system\ncontext.global.heishamon.SensorMapping = [\n        // [\"name of topic\", \"IDx in Domoticz/Name in Home Assistant/ ?? openHAB ??\"]\n            [\"Heatpump_State\", 1703, \"Switch\"],\n            [\"Pump_Flow\", 1609],\n            [\"ForceDHW_State\", null, \"Switch\"],\n            [\"Quietmode_Schedule\", null, \"Switch\"],\n            [\"OpMode_State\", null, \"Switch\"],\n            [\"Water_Inlet_Temp\", 1605],\n            [\"Water_Outlet_Temp\", 1606], \n            [\"Water_Target_Temp\", null],\n            [\"Compressor_Freq\", 1608],\n            [\"Tank_Target_Temp\", null],\n            [\"Tank_Temp\", null],\n            [\"Operations_Hours\", 1611],\n            [\"Operations_Counter\", 1612],\n            [\"MainSchedule_State\", null, \"Switch\"],\n            [\"Outside_Temp\", 1610],\n            [\"Heat_Energy_Production\", null],\n            [\"Heat_Energy_Consumption\", null],\n            [\"Powerfullmode_Time\", null, \"Selector Switch\"], // 0 = off, 3 = 90 min\n            [\"Quietmode_Level\", 1704, \"Selector Switch\"], //0= off, 30 = level 3\n            [\"Holidaymode_State\", null, \"Switch\"],\n            [\"Valve_State\", null, \"Switch\"],\n            [\"Outside_Pipe_Temp\", null],\n            [\"Tank_Heat_Delta\", null],\n            [\"Heat_Delta\", null],\n            [\"Cool_Delta\", null],\n            [\"ShiftTank_Temp\", null],\n            [\"Defrosting_State\", null, \"Switch\"],\n            [\"Z1_HeatRequest_Temp\", 1702, \"Thermostat\"],\n            [\"Z1_CoolRequest_Temp\", null],\n            [\"HCurve_OutHighTemp\", null],\n            [\"HCurve_OutLowTemp\", null],\n            [\"HCurve_OutsHighTemp\", null],\n            [\"HCurve_OutsLowTemp\", null],\n            [\"Roomthermostat_Temp\", null],\n            [\"Z2_HeatRequest_Temp\", null],\n            [\"Z2_CoolRequest_Temp\", null],\n            [\"Z1_Water_Temp\", null],\n            [\"Z2_Water_Temp\", null],\n            [\"Cool_Energy_Production\", null],\n            [\"Cool_Energy_Consumption\", null],\n            [\"DHW_Energy_Production\", null],\n            [\"DHW_Energy_Consumption\", null],\n            [\"Z1_Water_Target_Temp\", null],\n            [\"Z2_Water_Target_Temp\", null],\n            [\"Error\", null],\n            [\"ShiftHoliday_Temp\", null],\n            [\"Buffer_Temp\", null],\n            [\"Solar_Temp\", null],\n            [\"Pool_Temp\", null],\n            [\"Water_Hex_Outlet_Temp\", null],\n            [\"Discharge_Temp\", null],\n            [\"Inside_Pipe_Temp\", null],\n            [\"Defrost_Temp\", null],\n            [\"EvaOutlet_Temp\", null],\n            [\"BypassOutlet_Temp\", null],\n            [\"Ipm_Temp\", null],\n            [\"Z1_Temp\", 1702],\n            [\"Z2_Temp\", null],\n            [\"TankHeater_State\", null],\n            [\"WaterHeater_State\", null],\n            [\"InternalHeater_State\", 3095],\n            [\"ExternalHeater_State\", null],\n            [\"Fan1Motor_Speed\", null],\n            [\"Fan2Motor_Speed\", null],\n            [\"High_Pressure\", null],\n            [\"Pump_Speed\", null],\n            [\"Low_Pressure\", null],\n            [\"Outdoor_Current\", null],\n            [\"ForceHeater_State\", null, \"Switch\"],\n            [\"Sterilization_State\", null, \"Switch\"],\n            [\"Sterilization_Temp\", null],\n            [\"Sterilization_Max_Time\", null]\n    ];\n    \ncontext.global.heishamon.ActionMapping = [\n    // actioncommand, type, \"IDx in Domoticz/Name in Home Assistant/ ?? openHAB ??\" \n    [\"SetHeatpump\", \"Switch\", 1703],\n    [\"SetHoliday\", \"Switch\", null],\n    [\"SetQuietMode\", \"Selector Switch\", 1704],\n    [\"SetPowerfull\", \"Selector Switch\", null],\n    [\"SetZ1HeatRequestTemperature\", \"Thermostat\", 1702],\n    [\"SetZ1CoolRequestTemperature\", \"Thermostat\", null],\n    [\"SetZ2HeatRequestTemperature\", \"Thermostat\", null],\n    [\"SetZ2CoolRequestTemperature\", \"Thermostat\", null],\n    [\"SetOperationMode\", \"Selector Switch\", null],\n    [\"SetForceDHW\", \"Switch\", null],\n    [\"SetDHWTemp\", \"Thermostat\", null],\n    [\"SetCoolTemp\", \"Thermostat\", null],\n    [\"SetForceDefrost\", \"Switch\", null],\n    [\"SetForceSterilization\", \"Switch\", null]\n];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[[]]},{"id":"30c1e71d.5cda9","type":"inject","z":"8eb76340.5d75e","name":"","topic":"Startup","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":120,"wires":[["ef431648.224748"]]},{"id":"d9155176.39734","type":"switch","z":"8eb76340.5d75e","name":"Which HA app ","property":"heishamon.HAapplication","propertyType":"global","rules":[{"t":"cont","v":"Domoticz","vt":"str"},{"t":"cont","v":"HomeAssistant","vt":"str"},{"t":"cont","v":"openHAB","vt":"str"},{"t":"cont","v":"InfluxDB","vt":"str"}],"checkall":"true","repair":true,"outputs":4,"x":770,"y":300,"wires":[["ef11fb6c.dc1fe"],["21cd6ec4.d5b0a2"],["e1d7b0ef.b3a4d8"],["dbe17dfb.759c88"]]},{"id":"ef11fb6c.dc1fe","type":"function","z":"8eb76340.5d75e","name":"Prepare Domoticz output","func":"if(msg.HAid !== null){\n    msg1 = {};\n    msg1.payload = {};\n    msg1.payload.idx = msg.HAid; \n    msg1.topic = \"domoticz/in\";\n\n    if(msg.type == \"Selector Switch\"){\n        msg1.payload.command = \"switchlight\";\n        msg1.payload.switchcmd = \"Set Level\";\n        msg1.payload.level = msg.payload * 10;\n    }else if(msg.type == \"Switch\"){\n        msg1.payload.command = \"switchlight\"\n        if(msg.payload == 1){ cmd = \"On\"; }else{ cmd=\"Off\"}\n        msg1.payload.switchcmd = cmd;\n    }else{\n        msg1.payload.svalue = msg.payload;\n    }\n    return msg1;\n}\n\nreturn;","outputs":1,"noerr":0,"x":1050,"y":260,"wires":[["3f5e35f3.ff2eaa","faee5a12.0ba4b"]]},{"id":"3f5e35f3.ff2eaa","type":"mqtt out","z":"8eb76340.5d75e","name":"MQTT publish","topic":"","qos":"","retain":"","broker":"7409323c.8bf6cc","x":1360,"y":320,"wires":[]},{"id":"190789f5.bd3216","type":"influxdb out","z":"8eb76340.5d75e","influxdb":"be963f72.c15ad","name":"","measurement":"heishamon","precision":"","retentionPolicy":"","x":1340,"y":540,"wires":[]},{"id":"dbe17dfb.759c88","type":"function","z":"8eb76340.5d75e","name":"Prepare InfluxDB output","func":"if(isNaN(parseFloat(msg.payload))){\n    return;\n}else{\n    \n    msg.payload = [{\n        numValue: parseFloat(msg.payload),\n        strValue: msg.sensor\n    },\n    {\n        tag1:msg.sensor\n    }];\n    return msg;\n}","outputs":1,"noerr":0,"x":1040,"y":540,"wires":[["190789f5.bd3216"]]},{"id":"e1d7b0ef.b3a4d8","type":"function","z":"8eb76340.5d75e","d":true,"name":"Prepare openHAB output","func":"if(msg.payload.HAid != null){\n    //do something\n}\n\nreturn;","outputs":1,"noerr":0,"x":1050,"y":420,"wires":[["3f5e35f3.ff2eaa"]]},{"id":"21cd6ec4.d5b0a2","type":"function","z":"8eb76340.5d75e","d":true,"name":"Prepare HomeAssistant output","func":"msg1 = {};\nmsg1.payload = msg.payload;\nmsg1.topic = \"home/\" + msg.HAid; // Example: home/Compressor_Freq (or how it is mentioned in global setup)\nreturn msg1;\n","outputs":1,"noerr":0,"x":1070,"y":340,"wires":[["3f5e35f3.ff2eaa","faee5a12.0ba4b"]]},{"id":"6e72390e.fab78","type":"mqtt in","z":"8eb76340.5d75e","name":"Domoticz Publish","topic":"domoticz/out/#","qos":"2","datatype":"auto","broker":"7409323c.8bf6cc","x":180,"y":660,"wires":[["891fabf1.71989"]]},{"id":"7d463ac7.bb4324","type":"debug","z":"8eb76340.5d75e","name":"","active":true,"console":"false","complete":"false","x":1030,"y":620,"wires":[]},{"id":"891fabf1.71989","type":"json","z":"8eb76340.5d75e","name":"","property":"payload","action":"","pretty":false,"x":390,"y":660,"wires":[["ab506082.dedbe8"]]},{"id":"ab506082.dedbe8","type":"function","z":"8eb76340.5d75e","name":"Translate HomeAutomation to Heishamon","func":"//node.warn(msg.payload.idx)\nvar type;\n\nfor (i = 0; i < context.global.heishamon.ActionMapping.length; i++) {\n    if(msg.payload.idx == context.global.heishamon.ActionMapping[i][2]){\n        if(context.global.heishamon.ActionMapping[i][1]){\n            msg.topic = \"panasonic_heat_pump/\" + context.global.heishamon.ActionMapping[i][0];\n            type = context.global.heishamon.ActionMapping[i][1];\n            node.warn(msg.payload);\n            switch(type){\n                case \"Selector Switch\":\n                    msg.payload = (msg.payload.svalue1 / 10);\n                    return msg;\n                case \"Thermostat\":\n                    msg.payload = parseInt(msg.payload.svalue1);\n                    return msg;\n                case \"Switch\":\n                    msg.payload = msg.payload.nvalue;\n                    return msg;\n            }\n\n        }\n    }\n}\n\n/*\nif (msg.payload.idx===1704) {  // Silent Mode\n    //node.warn(msg.payload);\n    msg.topic = \"panasonic_heat_pump/SetQuietMode\";\n    msg.payload = msg.payload.svalue1 % 10;\n    return msg;\n\n} else if (msg.payload.idx===1702) {  // TargetTemp\n    \n    node.warn(msg.payload);\n    var TempInDec = parseInt(msg.payload.svalue1);\n    msg.topic = \"panasonic_heat_pump/SetShiftTemperature\";\n    msg.payload = TempInDec;\n    return msg;\n    \n} else if (msg.payload.idx===1703) {      // OnOff\n    \n    node.warn(msg.payload);\n    msg.topic = \"panasonic_heat_pump/SetShiftTemperature\";\n    msg.payload = msg.payload.nvalue;\n    return msg;\n} else {\n //   node.warn(\"other device\")\n}\n*/\nreturn;","outputs":1,"noerr":0,"x":660,"y":660,"wires":[["7d463ac7.bb4324","e3eb74fb.f8add8"]]},{"id":"e3eb74fb.f8add8","type":"mqtt out","z":"8eb76340.5d75e","name":"MQTT Publish Set-command","topic":"","qos":"","retain":"","broker":"7409323c.8bf6cc","x":1320,"y":720,"wires":[]},{"id":"faee5a12.0ba4b","type":"debug","z":"8eb76340.5d75e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1340,"y":420,"wires":[]},{"id":"1f7ff29f.386a75","type":"comment","z":"8eb76340.5d75e","name":"Version 02","info":"Only the 'global setup' node needs to be changed (and if you're not running on localhost you need to change those mqtt connection nodes also). ","x":160,"y":60,"wires":[]},{"id":"7409323c.8bf6cc","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"},{"id":"be963f72.c15ad","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Panasonic","name":"Panasonic","usetls":false,"tls":""}]